<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Paruošimas</title>
    <meta charset="utf-8">
		<style>
			.anuliuotas, .sanuliuotas {
				background-color: lightblue;
			}
			.ivykdytas, .sivykdytas {
				background-color: lightgreen;
			}
		</style>
	    <script
interface		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous">
	    </script>
	    <script>
		$(document).ready ( function() {
					
		pasiimtiUzsakymus();
		pasiimtiPatiekalus();
		
		var patieklai;
		
		function pasiimtiPatiekalus() {
		
			$.ajax(
				{
					url: "http://localhost:8080/restfull/lst-patiekalai" 
															/*
															, beforeSend: function( xhr ) {
																xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
															}
															*/
				}
			)
			.done(
					function( data ) {
					
						patiekalai = data;
															// alert ( 'jquery ok ' + data );
						res_str = '<select id="patiekalu_sel">'
								+ '<option value="0">nepasirinkta</option>' 
						
						for ( i = 0; i < data.length; i++) {
						
							res_str += '<option value="' + data [ i ].id  +'" >'
								+  data [ i ].pav 
								;
												
												
							res_str += '</option>';
						}
						
						res_str += '</select>';
						
						$( '#patiekalu_parinkimas' ).html ( res_str );
						
						$( '#patiekalu_sel' ).on ( 'change', function() {
						
							id = parseInt ( $( this ).val() );
							
							i = surastiPatiekalaPagalId ( id );
							alert ( id + ' -> ' + i );
							
							$( '#pav' ).val( patiekalai [ i ].pav );
							$( '#trukme_ruosimo' ).val( patiekalai [ i ].trukme_ruosimo );
							$( '#trukme_kaitinimo' ).val( patiekalai [ i ].trukme_kaitinimo  );
							$( '#kaina' ).val( patiekalai [ i ].kaina );	
							$( '#id_patiekalo' ).val( patiekalai [ i ].id );
						});
					}
			);		
		}
		function surastiPatiekalaPagalId ( id ) {
		
			found = -1;
	
			for ( i = 0; i < patiekalai.length; i++) {	
			
				if ( id == patiekalai [ i ].id ) {
				
					found = i;
				}
			}
			return found;
		}
		
		function keistiBusena( id, busena) {
		
			params_str = 'id=' + id + '&busena=' + busena;  
		
			$.ajax(
				{
					url: "http://localhost:8080/restfull/changestatus?" + params_str
				}
			)
			.done( function( data ) {
				
				alert ( data );
				pasiimtiUzsakymus();
			});			
		
		}
		
		function pasiimtiUzsakymus() {
		
			$.ajax(
				{
					url: "http://localhost:8080/restfull/allx" 
															/*
															, beforeSend: function( xhr ) {
																xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
															}
															*/
				}
			)
			.done(
					function( data ) {
															// alert ( 'jquery ok ' + data );
						res_str = '<table>'
								+ '<tr>' 
													// + '<th rowspan="2">id</th>'
								+  '<th>pavadinimas</th>'													
								+  '<th>bus <br>paruoštas<br> už</th>'
								+ ' <th>numat.<br>patiek.<br>laikas</th>'
								+ ' <th>užsakytas</th>'
								+ '<th>patiektas</th>'
								+ '<th>kaina</th>'
								+ '<th>klientas</th>'
								+ '</tr>'
							;
								
												// + '<tr><th>ruošimo</th><th>kaitinimo</th><th>veiksmas</th></tr>';
														// bus_paruostas_uz":35,"":47
						
						for ( i = 0; i < data.length; i++) {
						
							res_str += '<tr class="s' + data [ i ].busena  + '" data-id="' + data [ i ].id_uzsakymo  +'" >'
								// + '<td>' + data [ i ].id + '</td>' 
								+ '<td>' + data [ i ].pavadinimas + "/" + data [ i ].busena + '</td>'
								+ '<td>' + data [ i ].bus_paruostas_uz + '</td>'
								+ '<td>' + data [ i ].patiekimo_laikas + '</td>'
								+ '<td>' + data [ i ].laikas_uzsakymo  + '</td>'
								+ '<td>' + data [ i ].laikas_patekimo + '</td>'
								+ '<td>' + data [ i ].kaina + '</td>'
								+ '<td>' + data [ i ].klientas + '</td>'								
								;
												
								if ( data [ i ].busena == 'uzsakytas' ) {	
												
									res_str +=
									
										'<td><input type="button" class="anuliuotas" value="anuliuotas"></td>'
										+ '<td><input type="button" class="ivykdytas" value="ivykdytas"></td>'
								}
												
							res_str += '</tr>';
						}
						
						res_str += '</table>'
						$( '#uzsakymai' ).html ( res_str );
						
						$( '.anuliuotas' ).on ( 'click', function() {
						
							$( this ).each ( function() {
								
								id_uzsakymo = $( this ).parent( ).parent().data ( 'id' );
								keistiBusena ( id_uzsakymo, 'anuliuotas' );
							});
						});
						
						$( '.ivykdytas' ).on ( 'click', function() {
						
							$( this ).each ( function() {
								
								id_uzsakymo = $( this ).parent( ).parent().data ( 'id' );
								keistiBusena ( id_uzsakymo, 'ivykdytas' );
							});
						});						
					}
			);		
		}
		
		$( '#naujas_uzsakymas' ).click( function() {
		
			alert ( 'vykdomas ' );
		
			uzsakymas = {
				
				pav: $( '#pav' ).val()
				, trukme_ruosimo: parseInt ( $( '#trukme_ruosimo' ).val() )
				, trukme_kaitinimo: parseInt ( $( '#trukme_kaitinimo' ).val() )
				, klientas: $( '#klientas' ).val()
				, kaina: parseFloat ( $( '#kaina' ).val() )
				, id_patiekalo: parseInt ( $( '#id_patiekalo' ).val() )
			}
			
			// alert ( 'uzsakymas  ' + uzsakymas.pav + ' ' );
			
			params_str = 
				"pav="  + uzsakymas.pav 
				+ '&trukme_ruosimo=' + uzsakymas.trukme_ruosimo 
				+ '&trukme_kaitinimo=' + uzsakymas.trukme_kaitinimo 
				+ '&klientas=' + uzsakymas.klientas
				+ '&kaina=' + uzsakymas.kaina 
				+ '&id_patiekalo=' + uzsakymas.id_patiekalo 				
				
			alert ( "http://localhost:8080/restfull/add?" + params_str );
				
			$.ajax(
				{
					url: "http://localhost:8080/restfull/add?" + params_str
				}
			)
			.done( function( data ) {
				
				alert ( data );
				pasiimtiUzsakymus();
			});
		} );
	});	
	    </script>
</head>
<body>
	<form action="">
		<div id="patiekalu_parinkimas">
		</div>
		<br>
		Patiekalo pavadinimas<br>
		<input type="text" id="pav" value=""><br><br>
		Trukme ruošimo<br>
		<input type="text" id="trukme_ruosimo" value=""><br><br>
		Trukme kaitinimo<br>
		<input type="text" id="trukme_kaitinimo" value=""><br><br>
		Klientas<br>
		<input type="text" id="klientas" value=""><br><br>
		Kaina<br>
		<input type="text" id="kaina" value=""><br><br>		
		<input type="hidden" id="id_patiekalo" value="0">
		<input type="button" id="naujas_uzsakymas" value="Uzsakyti">
	</form>
	<div id="uzsakymai">
	</div>
</body>
</html>